<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>Servlets</display-name>
  <description> Servlets </description>- 

<!-- 
 Define servlets that are included in the Theater application 
--> 

- <servlet> 
<servlet-name>NouvelleRepresentationServlet</servlet-name> 
<servlet-class>adminServlets.NouvelleRepresentationServlet</servlet-class> 
</servlet>

<servlet> 
<servlet-name>ProgrammeServlet</servlet-name> 
<servlet-class>infosServlets.ProgrammeServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>RepresentationsServlet</servlet-name> 
<servlet-class>infosServlets.RepresentationsServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>PlaceDispoServlet</servlet-name> 
<servlet-class>infosServlets.PlaceDispoServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>ReservationServlet</servlet-name> 
<servlet-class>commandesServlets.ReservationServlet</servlet-class> 
</servlet>

-<servlet> 
<servlet-name>ReservationConfirmServlet</servlet-name> 
<servlet-class>commandesServlets.ReservationConfirmServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>PanierServlet</servlet-name> 
<servlet-class>commandesServlets.PanierServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>ReservationCategorieServlet</servlet-name> 
<servlet-class>commandesServlets.ReservationCategorieServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>ValidationPanierServlet</servlet-name> 
<servlet-class>commandesServlets.ValidationPanierServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>IdentificationServlet</servlet-name> 
<servlet-class>loginServlets.IdentificationServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>NewUserServlet</servlet-name> 
<servlet-class>loginServlets.NewUserServlet</servlet-class> 
</servlet>

- <servlet> 
<servlet-name>LogoutServlet</servlet-name> 
<servlet-class>loginServlets.LogoutServlet</servlet-class> 
</servlet>


- <servlet-mapping> 
<servlet-name>NouvelleRepresentationServlet</servlet-name> 
<url-pattern>/admin/NouvelleRepresentation</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>ProgrammeServlet</servlet-name> 
<url-pattern>/Programme</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>RepresentationsServlet</servlet-name> 
<url-pattern>/Representations</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>PlaceDispoServlet</servlet-name> 
<url-pattern>/PlacesDispo</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>ReservationServlet</servlet-name> 
<url-pattern>/Reservation</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>ReservationConfirmServlet</servlet-name> 
<url-pattern>/Confirmation</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>PanierServlet</servlet-name> 
<url-pattern>/Panier</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>IdentificationServlet</servlet-name> 
<url-pattern>/Identification</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>NewUserServlet</servlet-name> 
<url-pattern>/NouvelUtilisateur</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>ReservationCategorieServlet</servlet-name> 
<url-pattern>/ChoixCategorie</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>LogoutServlet</servlet-name> 
<url-pattern>/Deconnexion</url-pattern> 
</servlet-mapping>

- <servlet-mapping> 
<servlet-name>ValidationPanierServlet</servlet-name> 
<url-pattern>/Validation</url-pattern> 
</servlet-mapping>

</web-app>

